<!-- Home Page -->
<section class="home-container">     
      
    <div class="home-text">

        <div class="main-content">
          <h3 class="home-hello">Hello,</h3>
          <h1 class="home-name">I'm Nancy <i class="dot fa-solid fa-circle"></i> </h1>
          <h3 class="home-intro">A Junior Software Developer who's interested in Backend development but also fancy cool UI.</h3>
        </div>

        <a href="/"><img class="home-get-cv" src="image/get-cv.png" alt="get-cv"></a> 
    </div>

    <div class="home-img">
        <img class="img-pict" src="image/home-profile-picture.png" alt="profile-picture">
        <img class="img-bg" src="image/home-picture-background.png" alt="picture-background">
    </div>

        <hr class="long-line">

    </section>     <!-- Home End -->