body {
    font-family: "Lato";
    font-weight: 400;
}

/* Header */
.navbar {
    padding: 30px 400px 0 400px;
}

.navbar-brand {
    width: 60px;
    opacity: 0.9;
}

.nav-item {
    font-size: 20px;
    padding: 5px 0 0 40px;
}

/* Home Page */

.home-container {
    text-align: center;
}

.home-text {
    width: 350px;
    height: 500px;
    display: inline-block;
    text-align: left;
    padding-top: 145px;
    margin-bottom: 100px;
}

.main-content {
    padding-left: 5px;
}

.home-hello {
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 300;
}

.home-name {
    font-family: "Prata";
    font-size: 63px;
    font-weight: 900;
    display: none;
}

.dot {
    color: #6D9886;
    font-size: 12px;
}

.home-intro {
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    padding-right: 20px;
    display: none;
}

.home-img {
    width: 400px;
    height:500px;
    vertical-align: top;
    display: inline-block;
    padding-top: 125px;
    position: relative;
}

.home-img .img-pict {
    width: 240px;
    position: absolute;
    left: 150px;
    bottom: 77px;
    z-index: 1;
}

.home-img .img-bg {
    width: 200px;
    height: 225px;
    position: relative;
    top: 73px;
    left: 115px;
}

.home-get-cv {
    margin-top: 40px;
    width: 80px;
}

.home-get-cv:hover {
    border-radius: 2px;
    box-shadow: 0 1px 2px 2px #6D9886;
}



.long-line {
    margin-top: 80px;
    margin-bottom: 0;
    border-bottom: 1px dashed black;
    width: 55%;
    opacity: 0.6;
}

/* Page Title */

.page-title {
    padding: 25px 0 75px 0;
}
.page-title h1 {
    margin: 0;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 3px;
}

.page-title h4 {
    font-size: 15px;
    font-weight: 300;
    opacity: 0.7;
}


/* Projects */

.project-container {
    text-align: center;
}

.carousel {
    margin: 0 280px;
}

.project-display {
    display: none;
    margin: auto;
    width: 295px;
    text-align: center;
    border: 1.5px solid grey;
    border-radius: 15px;
    border-style: ridge;
    overflow: hidden;
}

.project-display img {
    object-fit: contain;
}

.project h3 {
    font-family: "Prata";
    letter-spacing: 2px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 700;
}

.project h4 {
    margin: 5px 0 65px 0;
    display: inline-block;
    text-align: justify;
    font-size: 15px;
    width: 270px;
    height: 150px;
    line-height: 150%;
}

.framework {
    object-fit: contain;
    position: absolute;
    padding-left: 10px;
    top: 145px;
    left: auto;
    display: none;
}

.framework .fa-brands {
    vertical-align: top;
    margin-right: 8px;
    font-size: 20px;
}

.arrow {
    color: #6D9886;
    font-size: 30px;
}

.carousel-indicators li {
    background-color: black;
    width: 7px;
    height: 7px;
    border: 0;
    border-radius: 100px;
}


/* About Me Page */

.about-container {
    text-align: center;
}

.about-container .page-title {
    padding-bottom: 40px;
}

.about-first-content {
    width: 350px;
    height: 300px;
    display: inline-block;
    position: relative;
    left: 53px;
    vertical-align: top;
    margin: 20px 0px 91px 0px;
}

.about-first-content h2 {
    display: none;
    font-family: "Prata";
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-first-content h3 {
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

/* Profile Picture */

.about-img-bg {
    display: inline-block;
    position: relative;
    height: 180px;
    width: 180px;
    background-color: #6D9886;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 2px 2px grey;
}

.about-img-pict {
    width: 90%;
    object-fit: contain;
    position: relative;
    bottom: 12px;
    left: 10px;
}


.about-second-content {
    display: inline-block;
    position: relative;
    top: 120px;
    left: 130px;
    width: 400px;
    text-align: left;
}

.about-skills, .about-next {
    height: 50px;
}

.about-second-content .fa-solid {
    font-size: 14px;
    margin-right: 10px;
}

.about-next .fa-solid {
    margin-right: 12px;
}

.about-skills h2, .about-next h2 {
    font-size: 15px;
    opacity: 0.5;
    display: inline-block;
    margin-right: 55px;
}

.about-next h2 {
    font-size: 14px;
    margin-right: 16px;
}

.skills-img, .next-img {
    display: inline-block;
}

/* Brand Logo */

.brand-logo {
    margin-left: 5px;
}

.brand-logo.html, .brand-logo.git {
    width: 22px;
}
.brand-logo.css {
    width: 17px;
}

.brand-logo.boots {
    width: 25px;
}

.brand-logo.js {
    width: 20px;
}

.brand-logo.node, .brand-logo.postsql {
    width: 35px;
}

.brand-logo.mongo {
    width: 75px;
}

.brand-logo.api {
    width: 70px;
}

.brand-logo.security {
    width: 30px;
}
/* End of Brand Logo */

.about-lower-box {
    background-color: #6D9886;
    height: 180px;
}

.about-educations {
    width: 830px;
    position: relative;
    text-align: left;
    color: white;
    display: none;
}

.about-educations .top {
    height: 50px;
}

.top .first {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 0;
}

.top h2 {
    font-family: "Prata";
    font-size: 20px;
    letter-spacing: 2px;
}

.top .second {
    display: inline-block;
    position: absolute;
    right: 0;
}

.top .second .btn {
    padding: 2px 0 0 0;
    margin-top: 10px;
    height: 35px;
    width: 74px;
    opacity: 0.7;
}

.about-get-cv {
    width: 60px;
}


.mid .first, .mid .second {
    display: inline-block;
}

.mid h3 {
    font-size: 15px;
    display: inline-block;
    margin: 0 15px ;
}

.separate {
    color: black;
    font-size: 12px;
    display: inline-block;
    position: relative;
    bottom: 1px;
    opacity: 0.8;
}

.bottom {
    margin-bottom: 30px;
}

.bottom .first {
    display: inline-block;
    position: relative;
    left: 21px;
}

.bottom .second {
    display: inline-block;
    position: relative;
    left: 300px;
}

.bottom h4 {
    font-size: 12px;
    font-weight: 300;
}

.about-contact .name {
    text-decoration: none;
    font-size: 13px;
    color: white;
    margin: 0 5px;
}

.short-line {
    border-bottom: 1px dashed white;
    width: 230px;
    position: relative;
    bottom: 10px;
}

